@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CU+Guides&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shered styles */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-3{
    color: #727272;
}
.dark-2{
    color: #424242;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600px;
}
.btn-primary:hover{
    cursor: pointer;
}
main > section{
    margin-top: 120px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* navber styles */
.navber{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner section styles */
.banner-contant{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-img{
    width: 100%;
}
/* features section styles */
 .features{
    align-items: center;
    /* padding: 0 200px; */
}
.features-img-contant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-contant{
    max-width: 537px;
    margin-left: 130px;
}
.fetures-title{
    font-size: 3rem;
}
.f-part-1{
    font-weight: 400;
}
.f-part-2{
    color: #FF900E;
}
/* enjoy section styles */
.enjoy{
    display: flex;
    gap: 150px;
}
#border{
    border-left: 7px solid #FF900E;
    padding-left: 20px;
}
.enjoy-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5px;

}
.enjoy-subtitle{
    font-weight:400px;
    font-size: 20px;
    margin-bottom: 5px;
}
.enjoy-card{
    /* max-width: 240px; */
    padding: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
#special-btn{
    padding: 45px;
    margin-left: -100px;
    margin-top: -100px;
}
.xxx{
    font-size: 4.5rem;
    font-weight: bold;
}
/*same facts section styles */
.facts-title{
    font-size: 3rem;
    font-weight: bold;
}
.facts-description{
    width: 540px;
    margin-bottom: 100px;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.fact-number{
    font-weight: 600;
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* sponspors section styles */
.sponspors-title{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.sponspors-description{
    text-align: center;
    margin-bottom: 50px;
}
.sponspors-img-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
}
/* footer section styles */
footer{
    padding: 30px 400px;
    background-color: rgba(255, 244, 231, 1);
    margin-top: 130px;
}











/* responsive media query */
@media screen and (max-width:576px) {
    .navber, .features, .enjoy{
        flex-direction: column;
    }
    .features-img-contant,
     .facts-card-container,
     .sponspors-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .sponspors-img-container{
        gap: 50px;
        justify-items: center;
    }
    .features-contant{
        margin-left: 10px;
    }
    .facts-description{
        width: 100%;
    }
    .facts-card-container{
        justify-items: center;
        gap: 24px;
    }
    .Experience-btn img{
        width: 100%;
    }
    #special-btn{
        margin: 0px;
        /* padding: 20px; */
    }
    footer{
        display: flex;
        width: 320px;
        padding: 10px;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }

}



/* medium device media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .features{
        flex-direction: column;
    }
    .features-contant{
        margin: 10px;
    }
}