@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CU+Guides&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shered styles */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-3{
    color: #727272;
}
.dark-2{
    color: #424242;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600px;
}
.btn-primary:hover{
    cursor: pointer;
}
/* navber styles */
.navber{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner section styles */
.banner-contant{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-img{
    width: 100%;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navber, .nav-links{
        flex-direction: column;
    }
}